<#include "/common/layout_dl.html">
<@header>
</@header>
<@body>

<form class="form-horizontal layui-form layui-form-pane" method="post" action="/property/componentsInfo/doAddComponent">
   <div class="box-body">
     <div class="form-group">
       <label  class="col-sm-2 control-label">元器件类型</label>
       <div class="col-sm-10">
           <select name="compType" class="form-control select2" lay-ignore style="width: 20%;" >
               <option value="电阻">电阻</option>
               <option value="电容">电容</option>
               <option value="电感">电感</option>
           </select>
     	</div>
     </div>
     <div class="form-group">
           <label class="col-sm-2 control-label">购买批次号</label>
           <div class="col-sm-10 col-lg-3" >
               <input placeholder="命名格式为YYYYMMDDXXXX"  name="purBatchNum" data-rule="购买批次号:required;length(12);" >
          </div>
        </div>
     <div class="form-group">
       <label   class="col-sm-2 control-label">型号</label>
        <div class="col-sm-10 col-lg-3">
            <input placeholder="用于描述元器件类型，如陶瓷电容"  name="typeDesc"  >
     	</div>
     </div>
     <div class="form-group">
       <label class="col-sm-2 control-label">标称数值</label>
        <div class="col-sm-10 col-lg-3">
     	    <input  name="standValue" >
        </div>
     </div>
       <div class="form-group">
            <label class="col-sm-2 control-label">允许误差（±%）</label>
          	<div  class="col-sm-4 col-lg-3">
                  <input  placeholder="元器件标称值精度" name="errorValue" >
           </div>
     </div>
     <div class="form-group">
     	  <label class="col-sm-2 control-label">封装</label>
          <div class="col-sm-10 col-lg-3">
              <input  name="capsulation" >
          </div>
        </div>
       <div class="form-group">
           <label class="col-sm-2 control-label">额定工作电压(V):</label>
           <div class="col-sm-10 col-lg-3">
               <input  name="ratedOperaVol" >
           </div>
       </div>
       <div class="form-group">
           <label class="col-sm-2 control-label">额定工作电流(mA):</label>
           <div class="col-sm-10 col-lg-3">
               <input  name="ratedOperaCur" >
           </div>
       </div>
       <div class="form-group">
           <label class="col-sm-2 control-label">最高工作电压(V):</label>
           <div class="col-sm-10 col-lg-3">
               <input  name="maxOperaVol" >
           </div>
       </div>
       <div class="form-group">
           <label class="col-sm-2 control-label">最高工作电流(mA):</label>
           <div class="col-sm-10 col-lg-3">
               <input  name="maxOperaCur" >
           </div>
       </div>
       <div class="form-group">
           <label class="col-sm-2 control-label">品质因数</label>
           <div class="col-sm-10 col-lg-3">
               <input  name="qualityFactor" >
           </div>
       </div>
       <div class="form-group">
           <label class="col-sm-2 control-label">功率因数</label>
           <div class="col-sm-10 col-lg-3">
               <input  name="powerFactor" >
           </div>
       </div>
       <div class="form-group">
           <label class="col-sm-2 control-label">工作阻抗</label>
           <div class="col-sm-10 col-lg-3">
               <input  name="opeImpedance" >
           </div>
       </div>
       <div class="form-group">
           <label class="col-sm-2 control-label">库存数量</label>
           <div class="col-sm-10 col-lg-3">
               <input  name="qualityInStock" >
           </div>
       </div>
       <div class="form-group">
           <label class="col-sm-2 control-label">存放柜子编号</label>
           <div class="col-sm-10 col-lg-3">
               <input  name="cabinetNum" >
           </div>
       </div>

       <div class="form-group">
           <label class="col-sm-2 control-label">存放盒子编号</label>
           <div class="col-sm-10 col-lg-3">
               <input  name="boxNum" >
           </div>
       </div>
       <div class="form-group">
           <label class="col-sm-2 control-label">采购渠道</label>
           <div class="col-sm-10 col-lg-3">
               <input  name="purChanel" >
           </div>
       </div>
       <div class="form-group">
           <label class="col-sm-2 control-label">采购人</label>
           <div class="col-sm-10 col-lg-3">
               <input  name="purName" >
           </div>
       </div>
       <div class="form-group">
           <label class="col-sm-2 control-label">采购人联系方式</label>
           <div class="col-sm-10 col-lg-3">
               <input  name="purTelphone" >
           </div>
       </div>
       <div class="form-group">
           <label class="col-sm-2 control-label">采购单价</label>
           <div class="col-sm-10 col-lg-3">
               <input  name="unitPrice" >
           </div>
       </div>
       <div class="form-group">
           <label class="col-sm-2 control-label">采购日期:</label>
           <div class="form-group row">
               <div class="right col-xs-3 text-left">
                   <div class="input-group">
                       <input type="text" class="form-control form_datetime" id="purDate" name="purDate" >
                       <span class="input-group-addon" id="basic-addon2"><span class="glyphicon glyphicon-time" aria-hidden="true"></span></span>
                   </div>
               </div>
           </div>

       </div>
       <div class="form-group">
           <label class="col-sm-2 control-label">供货商名称</label>
           <div class="col-sm-10 col-lg-3">
               <input  name="supplyName" >
           </div>
       </div>
       <div class="form-group">
           <label class="col-sm-2 control-label">供货商联系方式</label>
           <div class="col-sm-10 col-lg-3">
               <input  name="supplyTelphone" >
           </div>
       </div>
         <div class="form-group">
         		<label class="col-sm-2 control-label">&nbsp;</label>
         		 <div class="col-sm-10">
         		 	<button type="submit" class="btn btn-success" lay-submit lay-filter="submit"  ><i class="fa fa-save"></i>  提 交</button>
   		  </div>
         </div>
     </div><!-- /.box-body -->
 </form>
<script>
    //日期
    $('.form_datetime').datetimepicker({
        minView: "month", //选择日期后，不会再跳转去选择时分秒
        language:  'zh-CN',
        format: 'yyyy-mm-dd',
        todayBtn:  1,
        autoclose: 1
    });

</script>
</@body>
<@footer>
</@footer>